<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.sunset.com/" target="_blank">Visit Sunset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/all-isa" target="_blank">Visit my Github</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Mongo Web Scraping</h3>
    </div>

    <div class="jumbotron">
        <h1 class="jumboheader">Sunset Magazine Article Scraper</h1>
        <p class="lead">Scrape the latest articles from Sunset magazine, the premier western lifestyle magazine for all things food and travel to home and garden.</p>
        <p><a class="btn btn-lg btn-primary" href="/scrape" role="button">Scrape the latest!</a></p>
    </div>

    {{#each result}}
    <div class="card news-section">
        <a href="{{this.link}}">
            <h4 class="card-header">{{this.title}}</h4>
        </a>
        <div class="card-block">
            <a href="{{this.link}}">
                <img class="image" src="{{this.imgURL}}">
                <p class="card-text">{{this.articleSummary}}</p>
            </a>
            <br>
            <a href="/articles/{{this._id}}" class="btn btn-primary">Comment</a>
        </div>
    </div>
    <br>
    <br> {{/each}}

    <footer class="footer">
        <p>&copy; Allisa Liberto 2018</p>
    </footer>

</div>